##Nivel 2
#pond {
  display: flex;
justify-content: flex-end;
}

##nivel 2

#pond {
  display: flex;
justify-content: center;
}

##nivel3

#pond {
  display: flex;
justify-content: space-around;
}

##nivel4
 
#pond {
  display: flex;
justify-content: space-between;
}

##Nivel5

#pond {
  display: flex;
align-items: flex-end;
}

##nivel6

#pond {
  display: flex;
justify-content: center;
align-items: center;
}

##nivel7

#pond {
  display: flex;
justify-content: space-around;
align-items: flex-end;
}

##nivel8

#pond {
  display: flex;
flex-direction: row-reverse;
}

##nivel9 

#pond {
  display: flex;
flex-direction: column;
}

##nivel10

#pond {
  display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}

##Nivel11

#pond {
  display: flex;
justify-content: flex-end;
flex-direction: column;
}

##nivel12 

#pond {
  display: flex;
justify-content: space-between;
flex-direction: column-reverse;
}

##nivel13

#pond {
  display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
}

##nivel14

#pond {
  display: flex;
}

.yellow {
order: 1
}

##nivel15

#pond {
  display: flex;
}

.red {
order: -1
}

##nivel16

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
align-self: flex-end
}

##nivel17

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
order: 2;
align-self: flex-end
}

##nivel18

#pond {
  display: flex;
flex-wrap: wrap
}

##nivel19

#pond {
  display: flex;
flex-wrap: wrap;
flex-direction: column;
}

##nivel20

#pond {
  display: flex;
flex-flow: wrap column
}