##Nivel 2
#pond {
  display: flex;
justify-content: flex-end;
}

##nivel 2

#pond {
  display: flex;
justify-content: center;
}

##nivel3

#pond {
  display: flex;
justify-content: space-around;
}

##nivel4
 
#pond {
  display: flex;
justify-content: space-between;
}

##Nivel5

#pond {
  display: flex;
align-items: flex-end;
}

